.microcheck-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #f97316;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  padding: 6px 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}
.instructions-list {
  margin: 0 5px;
  color: #000000;
}

.microcheck-btn:hover {
  background: #e5e7eb;
  color: #000;
}

.microcheck-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.microcheck-popup {
  background: #fff;
  border-radius: 12px;
  width: 380px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
}

.microcheck-popup h3 {
  margin-top: 0;
  margin-bottom: 0 !important;
  color: #111827;
  text-align: center;
}

.microcheck-popup ul {
  margin: 12px 0 16px 20px;
  color: #374151;
  font-size: 0.95rem;
}

.record-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.record-btn,
.recording-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.record-btn {
  background: #f97316;
}

.record-btn:hover {
  background: #ea580c;
}

.recording-btn {
  background: #dc2626;
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.audio-preview {
  text-align: center;
}
